$cor-primaria: #37AB00;
$cor-fundo: #000000;
$cor-fundo2: #121212;
$cor-fundo3: #5d5b63;

$branco-transparent-90: #ffffff90;
$branco-transparent-30: #ffffff4D;
$branco-transparent-20: #ffffff33;
$branco-transparent-03: #ffffff03;

$preto-transparent-70: #000000b3;

$branco-titulo: #ebebeb;

$branco: #fff;